{"openapi":"3.1.0","info":{"title":"BigBooks API","description":"All endpoints require a bearer JWT issued by the BigBooks authorization server. Many endpoints additionally take an X-Acting-Party-ID header selecting the tenant party being acted for. Mutations of versioned resources require an If-Match header echoing the ETag from the resource's GET. List endpoints paginate with page_size and page_number (zero-based). Full conventions and a domain glossary: https://api.bigbooks.app/docs/integrator-guide.md","version":"v1"},"servers":[{"url":"https://api.bigbooks.app","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Parties","description":"Manage parties (people, households, organizations) and their member/manager relationships and invites"},{"name":"Budgets","description":"Create, update, delete, and report on per-account budgets over time periods"},{"name":"File Import","description":"Import bank transactions from uploaded CSV and PDF files"},{"name":"AI Conversations","description":"Start, continue, stream, and list AI chat conversations"},{"name":"Accounts","description":"Financial and category accounts: lifecycle, balances, registers, and totals"},{"name":"Investing","description":"Investment holdings for a party's investment accounts"},{"name":"Tags","description":"Tag vocabulary shared across a party's hierarchy"},{"name":"AI","description":"Stateless AI responses generated outside any stored conversation"},{"name":"Balance Sheets","description":"Balance sheet (net worth) reports for a party"},{"name":"Cash Flow","description":"Cash flow reports for a party by time period"},{"name":"Entries","description":"Entries, the individual account legs of journal transactions"},{"name":"AI Agent","description":"One-shot agentic workflow execution for a described task"},{"name":"RAG","description":"Retrieval-augmented generation indexing of party data into the vector store"},{"name":"Plaid","description":"Link bank institutions via Plaid and manage items, webhooks, and imports"},{"name":"Journals","description":"Journals (transactions) composed of entries; responses include account balances"},{"name":"Mint Import","description":"Create default category accounts modeled on Mint's category taxonomy"},{"name":"Files","description":"Upload and download image files backed by cloud storage"}],"paths":{"/v1/plaid/categories":{"post":{"tags":["Plaid"],"summary":"Create the default Plaid category accounts for a party (GET alias deprecated)","operationId":"createDefaultPlaidCategories","parameters":[{"name":"unit_type","in":"query","required":false,"schema":{"$ref":"#/components/schemas/UnitType","default":"USD"}},{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountingResponse"},"examples":{"defaultCategories":{"summary":"Created Plaid category accounts (abridged to one revenue and one expense tree)","description":"defaultCategories","value":{"parties":[{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","name":"Riley Household","version":5,"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"}],"accounts":[{"id":"5e1a2b3c-4d56-4789-9a01-b2c3d4e5f6a7","name":"Income","tags":[".account_system_created"],"version":0,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","unitType":"USD","accountType":"REVENUE","revenueType":"INCOME","createdDate":"2026-08-01T12:30:00Z","updatedDate":"2026-08-01T12:30:00Z"},{"id":"a1b2c3d4-e5f6-4a78-9b01-c2d3e4f5a6b7","name":"Food And Drink","tags":[".account_system_created"],"version":0,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","unitType":"USD","accountType":"EXPENSE","expenseType":"FOOD_AND_DRINK","createdDate":"2026-08-01T12:30:00Z","updatedDate":"2026-08-01T12:30:00Z"},{"id":"b2c3d4e5-f6a7-4b89-8c01-d3e4f5a6b7c8","name":"Groceries","tags":[".account_system_created"],"version":0,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","unitType":"USD","accountType":"EXPENSE","expenseType":"FOOD_AND_DRINK_GROCERIES","createdDate":"2026-08-01T12:30:00Z","updatedDate":"2026-08-01T12:30:00Z"}]}}}}}}}}},"/v1/mint/categories":{"post":{"tags":["Mint Import"],"summary":"Create the default Mint category accounts for a party (GET alias deprecated)","operationId":"createDefaultMintCategories","parameters":[{"name":"unit_type","in":"query","required":false,"schema":{"$ref":"#/components/schemas/UnitType","default":"USD"}},{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountingResponse"},"examples":{"defaultCategories":{"summary":"Created Mint category accounts (abridged to one revenue and one expense tree)","description":"defaultCategories","value":{"parties":[{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","name":"Riley Household","version":5,"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"}],"accounts":[{"id":"5e1a2b3c-4d56-4789-9a01-b2c3d4e5f6a7","name":"Income","tags":[".account_system_created"],"version":0,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","unitType":"USD","accountType":"REVENUE","revenueType":"INCOME","createdDate":"2026-08-01T12:30:00Z","updatedDate":"2026-08-01T12:30:00Z"},{"id":"a1b2c3d4-e5f6-4a78-9b01-c2d3e4f5a6b7","name":"Food And Dining","tags":[".account_system_created"],"version":0,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","unitType":"USD","accountType":"EXPENSE","expenseType":"FOOD_AND_DRINK","createdDate":"2026-08-01T12:30:00Z","updatedDate":"2026-08-01T12:30:00Z"},{"id":"b2c3d4e5-f6a7-4b89-8c01-d3e4f5a6b7c8","name":"Groceries","tags":[".account_system_created"],"version":0,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","unitType":"USD","accountType":"EXPENSE","expenseType":"FOOD_AND_DRINK_GROCERIES","createdDate":"2026-08-01T12:30:00Z","updatedDate":"2026-08-01T12:30:00Z"}]}}}}}}}}},"/v1/plaid/items/{uuid}/rebuild":{"put":{"tags":["Plaid"],"summary":"Start async rebuild that empties an item and re-imports it from the institution","operationId":"rebuildItem","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"rebuildStarted":{"summary":"Async rebuild accepted","description":"rebuildStarted","value":{"message":"First Platypus Bank item is being rebuilt now."}}}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/parties":{"get":{"tags":["Parties"],"summary":"Find a party by id or email (one is required; discover your own party via OIDC userInfo's bigbooks:party claim)","operationId":"findParty","parameters":[{"name":"id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Optional expansions: member_parties, manager_parties","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyResponse"},"examples":{"household":{"summary":"A household party with its members expanded","description":"household","value":{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","name":"Riley Household","version":3,"members":[{"id":"7a8b9c01-2d3e-4f5a-b6c7-8d9e0f1a2b3c","name":"Alex Riley","version":5,"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"}],"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}},"put":{"tags":["Parties"],"summary":"Update a party's name and/or image; 'image' is the id of an image uploaded via uploadImage","operationId":"putParty","parameters":[{"name":"include","in":"query","description":"Optional expansions: member_parties, manager_parties","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyResponse"},"examples":{"updated-party":{"summary":"The party after an update, with its version incremented and its image URL derived from the uploaded image","description":"updated-party","value":{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","name":"Riley Household","image":"https://images.bigbooks.app/avatar/x7k2p9qd.png","version":4,"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-02T09:00:00Z"}}}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}},"post":{"tags":["Parties"],"summary":"Add a party to a client's party","operationId":"createParty","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyResponse"},"examples":{"created-party":{"summary":"A newly created party with no members or managers yet","description":"created-party","value":{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","name":"Riley Household","version":0,"members":[],"managers":[],"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-01-15T10:00:00Z"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/journals/{uuid}/split":{"put":{"tags":["Journals"],"summary":"Split a journal into multiple journals","operationId":"splitJournal","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountingResponse"},"examples":{"splitJournals":{"summary":"Two balanced journals produced by splitting a grocery purchase","description":"splitJournals","value":{"entries":[{"id":"c5d6e7f8-091a-4bb9-8d6e-c3d4e5f60718","date":"2026-08-03","type":"CREDIT","tags":[],"prime":true,"amount":50.0,"version":1,"pending":false,"journalId":"a3b4c5d6-e7f8-4997-8b4c-a1b2c3d4e5f6","accountId":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","createdDate":"2026-08-05T10:00:00Z","updatedDate":"2026-08-05T10:00:00Z","signedAmount":-50.0},{"id":"d6e7f809-1a2b-4cca-9e7f-d4e5f6071829","date":"2026-08-03","type":"DEBIT","tags":[],"prime":false,"amount":50.0,"version":1,"pending":false,"journalId":"a3b4c5d6-e7f8-4997-8b4c-a1b2c3d4e5f6","accountId":"7c3d4e56-8f90-4a12-b334-5c6d7e8f9a0b","createdDate":"2026-08-05T10:00:00Z","updatedDate":"2026-08-05T10:00:00Z","signedAmount":50.0},{"id":"e7f8091a-2b3c-4ddb-8f80-e5f607182930","date":"2026-08-03","type":"CREDIT","tags":[],"prime":true,"amount":36.42,"version":1,"pending":false,"journalId":"b4c5d6e7-f809-4aa8-9c5d-b2c3d4e5f607","accountId":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","createdDate":"2026-08-05T10:00:00Z","updatedDate":"2026-08-05T10:00:00Z","signedAmount":-36.42},{"id":"f8091a2b-3c4d-4eec-9081-f60718293a4b","date":"2026-08-03","type":"DEBIT","tags":[],"prime":false,"amount":36.42,"version":1,"pending":false,"journalId":"b4c5d6e7-f809-4aa8-9c5d-b2c3d4e5f607","accountId":"7c3d4e56-8f90-4a12-b334-5c6d7e8f9a0b","createdDate":"2026-08-05T10:00:00Z","updatedDate":"2026-08-05T10:00:00Z","signedAmount":36.42}],"parties":[{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","name":"Riley Household","version":3,"createdDate":"2026-01-15T09:55:00Z","updatedDate":"2026-01-15T09:55:00Z"}],"journals":[{"id":"a3b4c5d6-e7f8-4997-8b4c-a1b2c3d4e5f6","name":"Whole Foods","date":"2026-08-03","tags":[],"version":1,"pending":false,"createdDate":"2026-08-05T10:00:00Z","updatedDate":"2026-08-05T10:00:00Z"},{"id":"b4c5d6e7-f809-4aa8-9c5d-b2c3d4e5f607","name":"Whole Foods (2)","date":"2026-08-03","tags":[],"version":1,"pending":false,"createdDate":"2026-08-05T10:00:00Z","updatedDate":"2026-08-05T10:00:00Z"}],"accounts":[{"id":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","name":"Everyday Checking","tags":[],"version":7,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","unitType":"USD","assetType":"CHECKING","accountType":"ASSET","createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"},{"id":"7c3d4e56-8f90-4a12-b334-5c6d7e8f9a0b","name":"Groceries","tags":[],"version":2,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","unitType":"USD","accountType":"EXPENSE","expenseType":"GROCERIES","createdDate":"2026-01-15T10:10:00Z","updatedDate":"2026-01-15T10:10:00Z"}]}}}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/journals/{uuid}/merge":{"put":{"tags":["Journals"],"summary":"Merge source journals into a target journal","description":"If-Match covers the target journal only; a source modified after being read still fails with 409","operationId":"mergeJournal","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"uuids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"uniqueItems":true}},{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountingResponse"},"examples":{"mergedJournal":{"summary":"The surviving target journal after merging a duplicate into it","description":"mergedJournal","value":{"entries":[{"id":"1a2b3c4d-5e6f-4708-9a0b-1c2d3e4f5a6b","date":"2026-08-03","type":"CREDIT","tags":[],"prime":true,"amount":86.42,"version":2,"pending":false,"journalId":"4a5b6c7d-8e9f-4012-a345-6b7c8d9e0f1a","accountId":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","createdDate":"2026-08-03T18:04:00Z","updatedDate":"2026-08-05T09:30:00Z","signedAmount":-86.42},{"id":"2b3c4d5e-6f70-4819-ab0c-2d3e4f5a6b7c","date":"2026-08-03","type":"DEBIT","tags":[],"prime":false,"amount":86.42,"version":2,"pending":false,"journalId":"4a5b6c7d-8e9f-4012-a345-6b7c8d9e0f1a","accountId":"7c3d4e56-8f90-4a12-b334-5c6d7e8f9a0b","createdDate":"2026-08-03T18:04:00Z","updatedDate":"2026-08-05T09:30:00Z","signedAmount":86.42}],"parties":[{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","name":"Riley Household","version":3,"createdDate":"2026-01-15T09:55:00Z","updatedDate":"2026-01-15T09:55:00Z"}],"journals":[{"id":"4a5b6c7d-8e9f-4012-a345-6b7c8d9e0f1a","name":"Whole Foods","date":"2026-08-03","memo":"Weekly grocery run","tags":["groceries"],"version":2,"pending":false,"createdDate":"2026-08-03T18:04:00Z","updatedDate":"2026-08-05T09:30:00Z"}],"accounts":[{"id":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","name":"Everyday Checking","tags":[],"version":7,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","unitType":"USD","assetType":"CHECKING","accountType":"ASSET","createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"},{"id":"7c3d4e56-8f90-4a12-b334-5c6d7e8f9a0b","name":"Groceries","tags":[],"version":2,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","unitType":"USD","accountType":"EXPENSE","expenseType":"GROCERIES","createdDate":"2026-01-15T10:10:00Z","updatedDate":"2026-01-15T10:10:00Z"}]}}}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/journals/{uuid}/archive":{"put":{"tags":["Journals"],"summary":"Archive (soft delete) a journal","operationId":"archiveJournal","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"journalArchived":{"summary":"Confirmation message naming the archived journal","description":"journalArchived","value":{"message":"Whole Foods archived"}}}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/journals/{uuid}":{"get":{"tags":["Journals"],"summary":"Get a journal (transaction) with its entries and account balances","operationId":"getJournal","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountingResponse"},"examples":{"groceryPurchase":{"summary":"A grocery purchase journal with its two balancing entries","description":"groceryPurchase","value":{"entries":[{"id":"1a2b3c4d-5e6f-4708-9a0b-1c2d3e4f5a6b","date":"2026-08-03","type":"CREDIT","tags":[],"prime":true,"amount":86.42,"version":1,"pending":false,"journalId":"4a5b6c7d-8e9f-4012-a345-6b7c8d9e0f1a","accountId":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","createdDate":"2026-08-03T18:04:00Z","updatedDate":"2026-08-03T18:04:00Z","signedAmount":-86.42},{"id":"2b3c4d5e-6f70-4819-ab0c-2d3e4f5a6b7c","date":"2026-08-03","type":"DEBIT","tags":[],"prime":false,"amount":86.42,"version":1,"pending":false,"journalId":"4a5b6c7d-8e9f-4012-a345-6b7c8d9e0f1a","accountId":"7c3d4e56-8f90-4a12-b334-5c6d7e8f9a0b","createdDate":"2026-08-03T18:04:00Z","updatedDate":"2026-08-03T18:04:00Z","signedAmount":86.42}],"parties":[{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","name":"Riley Household","version":3,"createdDate":"2026-01-15T09:55:00Z","updatedDate":"2026-01-15T09:55:00Z"}],"journals":[{"id":"4a5b6c7d-8e9f-4012-a345-6b7c8d9e0f1a","name":"Whole Foods","date":"2026-08-03","memo":"Weekly grocery run","tags":["groceries"],"version":1,"pending":false,"createdDate":"2026-08-03T18:04:00Z","updatedDate":"2026-08-03T18:04:00Z"}],"accounts":[{"id":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","name":"Everyday Checking","tags":[],"version":7,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","unitType":"USD","assetType":"CHECKING","accountType":"ASSET","createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"},{"id":"7c3d4e56-8f90-4a12-b334-5c6d7e8f9a0b","name":"Groceries","tags":[],"version":2,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","unitType":"USD","accountType":"EXPENSE","expenseType":"GROCERIES","createdDate":"2026-01-15T10:10:00Z","updatedDate":"2026-01-15T10:10:00Z"}]}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}},"put":{"tags":["Journals"],"summary":"Update a journal and upsert its entries","operationId":"updateJournal","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompoundJournalBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountingResponse"},"examples":{"updatedGroceryPurchase":{"summary":"The grocery purchase journal after an update, versions bumped","description":"updatedGroceryPurchase","value":{"entries":[{"id":"1a2b3c4d-5e6f-4708-9a0b-1c2d3e4f5a6b","date":"2026-08-03","type":"CREDIT","tags":[],"prime":true,"amount":86.42,"version":2,"pending":false,"journalId":"4a5b6c7d-8e9f-4012-a345-6b7c8d9e0f1a","accountId":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","createdDate":"2026-08-03T18:04:00Z","updatedDate":"2026-08-05T09:30:00Z","signedAmount":-86.42},{"id":"2b3c4d5e-6f70-4819-ab0c-2d3e4f5a6b7c","date":"2026-08-03","type":"DEBIT","tags":[],"prime":false,"amount":86.42,"version":2,"pending":false,"journalId":"4a5b6c7d-8e9f-4012-a345-6b7c8d9e0f1a","accountId":"7c3d4e56-8f90-4a12-b334-5c6d7e8f9a0b","createdDate":"2026-08-03T18:04:00Z","updatedDate":"2026-08-05T09:30:00Z","signedAmount":86.42}],"parties":[{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","name":"Riley Household","version":3,"createdDate":"2026-01-15T09:55:00Z","updatedDate":"2026-01-15T09:55:00Z"}],"journals":[{"id":"4a5b6c7d-8e9f-4012-a345-6b7c8d9e0f1a","name":"Whole Foods","date":"2026-08-03","memo":"Weekly grocery run (corrected)","tags":["groceries"],"version":2,"pending":false,"createdDate":"2026-08-03T18:04:00Z","updatedDate":"2026-08-05T09:30:00Z"}],"accounts":[{"id":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","name":"Everyday Checking","tags":[],"version":7,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","unitType":"USD","assetType":"CHECKING","accountType":"ASSET","createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"},{"id":"7c3d4e56-8f90-4a12-b334-5c6d7e8f9a0b","name":"Groceries","tags":[],"version":2,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","unitType":"USD","accountType":"EXPENSE","expenseType":"GROCERIES","createdDate":"2026-01-15T10:10:00Z","updatedDate":"2026-01-15T10:10:00Z"}]}}}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}},"delete":{"tags":["Journals"],"summary":"Soft delete (archive) a journal; it stays recoverable under /deleted","operationId":"deleteJournal","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"journalArchived":{"summary":"Confirmation message naming the archived journal","description":"journalArchived","value":{"message":"Whole Foods archived"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"409":{"description":"Conflict — stale If-Match version; re-GET the resource and retry","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/budgeting/budgets":{"get":{"tags":["Budgets"],"summary":"List a party's budgets in a date range","operationId":"getBudgets","parameters":[{"name":"page_size","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page_number","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"after_date","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"before_date","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetBudgetsResponse"},"examples":{"budgets":{"summary":"One page with a monthly Groceries budget of 900.00","description":"budgets","value":{"paging":{"pageSize":20,"pageIndex":0,"totalPages":1,"totalElements":1},"budgets":[{"id":"9e8f7a6b-5c4d-4e3f-8a2b-1c0d9e8f7a6b","date":"2026-08-01","amount":900.0,"accountId":"3c4d5e6f-7a8b-4c9d-8e0f-1a2b3c4d5e6f","version":0,"dayDate":"2026-08-01","weekDate":"2026-07-27","yearDate":"2026-01-01","monthDate":"2026-08-01","quarterDate":"2026-07-01","createdDate":"2026-07-28T08:00:00Z","updatedDate":"2026-07-28T08:00:00Z"}]}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}},"put":{"tags":["Budgets"],"summary":"Upsert a batch of budgets","description":"Full upsert: an item with a null amount deletes that account's budgets in its date range; other items are created or updated.","operationId":"upsertBudgets","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BudgetsBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"budgets-upserted":{"summary":"Counts of items saved and items deleted (those sent with a null amount)","description":"budgets-upserted","value":{"message":"2 budgets saved and 1 budgets deleted successfully!"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}},"post":{"tags":["Budgets"],"summary":"Create a batch of budgets","description":"Strict create: every item requires an amount, and the whole batch is rejected if any account is not revenue or expense.","operationId":"createBudgets","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BudgetsBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"budgets-created":{"summary":"Confirmation that the whole batch was created","description":"budgets-created","value":{"message":"2 budgets saved successfully!"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}},"delete":{"tags":["Budgets"],"summary":"Delete an account's budgets in a date range","description":"Explicit range delete: removes all of the account's budgets between the after and before dates.","operationId":"deleteBudgetRange","parameters":[{"name":"account","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"after_date","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"before_date","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"range-deleted":{"summary":"Confirmation that the account's budgets in the range were deleted","description":"range-deleted","value":{"message":"Groceries budgets from 2026-08-01 to 2026-08-31 deleted"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/budgeting/budget":{"put":{"tags":["Budgets"],"summary":"Upsert an account's budget for a date range","description":"Full upsert: a null amount deletes the account's budgets in the date range; otherwise the budget is created or updated.","operationId":"upsertBudget","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BudgetBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"budget-saved":{"summary":"Confirmation of the upsert; a null amount would instead report the budget deleted","description":"budget-saved","value":{"message":"Groceries budget saved"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}},"post":{"tags":["Budgets"],"summary":"Create an account's budget for a date range","description":"Strict create: amount is required and nothing is deleted; use PUT for upsert-with-delete semantics.","operationId":"createBudget","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BudgetBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"budget-created":{"summary":"Confirmation that the budget was created","description":"budget-created","value":{"message":"Groceries budget saved"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/ai/conversations/{uuid}/user":{"put":{"tags":["AI Conversations"],"summary":"Add a user message to a conversation and return the reply; takes If-Match","operationId":"addUserMessage","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}},{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConversation"},"examples":{"conversationWithReply":{"summary":"Conversation after the assistant answers a grocery-spend question","description":"conversationWithReply","value":{"id":"b7e3d2a1-9c48-4f5e-a6b7-0d1c2e3f4a5b","name":"How much did we spend on groceries last month?","version":2,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","messages":[{"id":"c1a2b3c4-d5e6-4f70-8192-a3b4c5d6e7f8","text":"How much did we spend on groceries last month?","role":"USER","version":0,"sequence":0,"dateTime":"2026-08-05T14:02:10Z","createdDate":"2026-08-05T14:02:10Z","updatedDate":"2026-08-05T14:02:10Z"},{"id":"d2b3c4d5-e6f7-4081-92a3-b4c5d6e7f809","text":"The Riley Household spent $842.17 on groceries in July 2026, across 14 transactions.","role":"ASSISTANT","version":0,"sequence":1,"dateTime":"2026-08-05T14:02:14Z","createdDate":"2026-08-05T14:02:14Z","updatedDate":"2026-08-05T14:02:14Z"}],"createdDate":"2026-08-05T14:02:10Z","updatedDate":"2026-08-05T14:02:14Z"}}}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/ai/conversations/{uuid}/stream":{"put":{"tags":["AI Conversations"],"summary":"Add a user message; SSE events: conversation, thinking, tokens, done; takes If-Match","operationId":"streamUserMessage","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}},{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/event-stream":{"examples":{"streamedReply":{"summary":"SSE stream: conversation metadata, optional thinking, token chunks, then done","description":"streamedReply","value":"\n                        event: conversation\n                        data: {\"id\":\"b7e3d2a1-9c48-4f5e-a6b7-0d1c2e3f4a5b\",\"version\":2}\n\n                        event: thinking\n                        data: Summing the July grocery entries before answering.\n\n                        data: The Riley Household spent\n\n                        data:  $842.17 on groceries\n\n                        data:  in July 2026.\n\n                        event: done\n                        data: {\"id\":\"b7e3d2a1-9c48-4f5e-a6b7-0d1c2e3f4a5b\"}\n                        "}}}}},"409":{"description":"Conflict — stale If-Match version; re-GET the resource and retry","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/accounts/{uuid}/clean":{"put":{"tags":["Accounts"],"summary":"Start cleaning an account; async fire-and-forget, responds 202","operationId":"cleanAccount","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"cleaningStarted":{"summary":"Acknowledgement that the account clean has started","description":"cleaningStarted","value":{"message":"Everyday Checking is being cleaned."}}}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/accounts/{uuid}/archive":{"put":{"tags":["Accounts"],"summary":"Start archiving an account, optionally to a successor; async, responds 202","operationId":"archiveAccount","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"successor_account","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"archivingStarted":{"summary":"Acknowledgement that the account archive has started","description":"archivingStarted","value":{"message":"Everyday Checking is being archived."}}}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/accounts/{uuid}":{"get":{"tags":["Accounts"],"summary":"Get an account, optionally with balances and parent/child accounts","operationId":"getAccount","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"include","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountResponse"},"examples":{"checkingWithBalance":{"summary":"A checking account fetched with include=balance","description":"checkingWithBalance","value":{"id":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","name":"Everyday Checking","tags":[],"version":7,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","balance":{"current":8250.75,"available":8100.75},"unitType":"USD","assetType":"CHECKING","accountType":"ASSET","createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}},"put":{"tags":["Accounts"],"summary":"Update an account's name, owner, tags, or parent accounts","operationId":"updateAccount","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/AssetAccountBody"},{"$ref":"#/components/schemas/EquityAccountBody"},{"$ref":"#/components/schemas/ExpenseAccountBody"},{"$ref":"#/components/schemas/LiabilityAccountBody"},{"$ref":"#/components/schemas/RevenueAccountBody"}]}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountResponse"},"examples":{"updatedChecking":{"summary":"The checking account after tagging, version bumped","description":"updatedChecking","value":{"id":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","name":"Everyday Checking","tags":["primary"],"version":8,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","unitType":"USD","assetType":"CHECKING","accountType":"ASSET","createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-06T09:00:00Z"}}}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}},"delete":{"tags":["Accounts"],"summary":"Soft delete (archive) an account, optionally moving entries to a successor","operationId":"deleteAccount","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"successor_account","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountResponse"},"examples":{"deletedAccount":{"summary":"The soft-deleted duplicate category with its deletedDate set","description":"deletedAccount","value":{"id":"1c2d3e4f-5061-4723-8c3d-2e3f4a5b6c7d","name":"Groceries (duplicate)","tags":[],"version":3,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","unitType":"USD","accountType":"EXPENSE","expenseType":"GROCERIES","createdDate":"2026-02-01T11:00:00Z","updatedDate":"2026-08-06T10:15:00Z","deletedDate":"2026-08-06T10:15:00Z"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"409":{"description":"Conflict — stale If-Match version; re-GET the resource and retry","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/rag/embed/transactions":{"post":{"tags":["RAG"],"summary":"Start embedding a party's transactions for RAG; async, returns 202","operationId":"embedTransactions","parameters":[{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"embeddingAccepted":{"summary":"Embedding started; work continues asynchronously","description":"embeddingAccepted","value":{"message":"Transactions are being embedded."}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/plaid/transactions/enriched":{"post":{"tags":["Plaid"],"summary":"Start async import of enriched transactions into a new or existing account","operationId":"importEnrichedPlaidTransactions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaidEnrichedTransactionsBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"importStarted":{"summary":"Async import of the enriched transactions accepted","description":"importStarted","value":{"message":"Transactions are being imported"}}}}}}}}},"/v1/plaid/transactions/enrich":{"post":{"tags":["Plaid"],"summary":"Enrich transactions via Plaid and return them without persisting","operationId":"enrichPlaidTransactions","parameters":[{"name":"X-Plaid-Secret","in":"header","description":"Plaid client secret for bring-your-own-key connections. This is a credential — load it from secure configuration; never hardcode it in source or examples.","required":false,"schema":{"type":"string"}},{"name":"X-Plaid-Client-ID","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaidEnrichTransactionsBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaidEnrichedTransactionsResponse"},"examples":{"enrichedPreview":{"summary":"Enriched rows returned for review; nothing is persisted","description":"enrichedPreview","value":{"transactions":[{"id":"c1a2b3d4e5f6a7b8","amount":4.85,"direction":"OUTFLOW","description":"PLATYPUS COFFEE 0042 PORTLAND OR","enrichments":{"location":{"city":"Portland","region":"OR","country":"US","postalCode":"97201"},"recurrence":{"frequency":"UNKNOWN","isRecurring":false},"merchantName":"Platypus Coffee","paymentChannel":"in store","counterparties":[{"name":"Platypus Coffee","type":"MERCHANT","confidenceLevel":"HIGH"}],"personalFinanceCategory":{"primary":"FOOD_AND_DRINK","detailed":"FOOD_AND_DRINK_COFFEE","confidenceLevel":"HIGH"}},"isoCurrencyCode":"USD"}]}}}}}}}}},"/v1/plaid/public/token":{"post":{"tags":["Plaid"],"summary":"Create a Plaid Link token for linking a new item or updating an existing one","operationId":"getPublicToken","parameters":[{"name":"X-Plaid-Secret","in":"header","description":"Plaid client secret for bring-your-own-key connections. This is a credential — load it from secure configuration; never hardcode it in source or examples.","required":false,"schema":{"type":"string"}},{"name":"X-Plaid-Client-ID","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaidPublicTokenBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPlaidToken"},"examples":{"linkToken":{"summary":"Link token for opening Plaid Link","description":"linkToken","value":{"token":"link-sandbox-example-token"}}}}}}}}},"/v1/plaid/access/token":{"post":{"tags":["Plaid"],"summary":"Exchange a Plaid public token for an access token and save the item","operationId":"getAccessToken","parameters":[{"name":"X-Plaid-Secret","in":"header","description":"Plaid client secret for bring-your-own-key connections. This is a credential — load it from secure configuration; never hardcode it in source or examples.","required":false,"schema":{"type":"string"}},{"name":"X-Plaid-Client-ID","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaidAccessTokenBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPlaidItem"},"examples":{"linkedItem":{"summary":"Newly linked First Platypus Bank item with its checking account","description":"linkedItem","value":{"id":"4a7b2c91-8d3e-4f56-a012-b3c4d5e6f7a8","tags":[],"version":0,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","plaidId":"item-sandbox-example-id","accounts":[{"id":"6b9d4e21-7c35-4a86-b190-2c3d4e5f6a7b","name":"Everyday Checking","mask":"0000","type":"depository","version":0,"plaidId":"account-sandbox-example-id","subtype":"checking","account":{"id":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","name":"Everyday Checking","tags":[],"version":0,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","unitType":"USD","assetType":"CHECKING","accountType":"ASSET","createdDate":"2026-08-01T12:30:00Z","updatedDate":"2026-08-01T12:30:00Z"},"createdDate":"2026-08-01T12:30:00Z","updatedDate":"2026-08-01T12:30:00Z"}],"itemStatus":"HEALTHY","institution":{"id":"3c8e5f12-9a46-4b57-8c01-d2e3f4a5b6c7","name":"First Platypus Bank","plaidId":"ins_sandbox_example","primaryColor":"#0a6e5c"},"createdDate":"2026-08-01T12:30:00Z","updatedDate":"2026-08-01T12:30:00Z"}}}}}}}}},"/v1/parties/{uuid}/{party_relation}":{"post":{"tags":["Parties"],"summary":"Add a party to a user's member party","operationId":"relateParty","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"party_relation","in":"path","required":true,"schema":{"type":"string","enum":["MEMBER","MANAGER"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyResponse"},"examples":{"related-party":{"summary":"The related party after being added as a member, with its managers expanded","description":"related-party","value":{"id":"7a8b9c01-2d3e-4f5a-b6c7-8d9e0f1a2b3c","name":"Alex Riley","version":1,"members":[],"managers":[{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","name":"Riley Household","version":3,"managers":[],"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"}],"createdDate":"2026-01-15T10:05:00Z","updatedDate":"2026-08-01T12:30:00Z"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}},"delete":{"tags":["Parties"],"summary":"Remove a party's member or manager relationship","operationId":"removeParty","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"party_relation","in":"path","required":true,"schema":{"type":"string","enum":["MEMBER","MANAGER"]}},{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"member-removed":{"summary":"Confirmation that the member relationship was removed","description":"member-removed","value":{"message":"Alex Riley was removed as member of Riley Household"}}}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/parties/{uuid}/invites/{party_relation}":{"post":{"tags":["Parties"],"summary":"Invite a user to a party as member or manager","operationId":"addPartyInvite","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"party_relation","in":"path","required":true,"schema":{"type":"string","enum":["MEMBER","MANAGER"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyInviteBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyInviteResponse"},"examples":{"created-invite":{"summary":"The invite created (or found, if one already existed) for the invitee","description":"created-invite","value":{"id":"5d6e7f80-1a2b-4c3d-8e9f-0a1b2c3d4e5f","party":{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","name":"Riley Household","version":3,"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"},"version":0,"inviter":{"id":"8c9d0e1f-2a3b-4c5d-8e6f-7a8b9c0d1e2f","name":"Alex Riley","username":"alex.riley@example.com","emailAddress":"alex.riley@example.com"},"invitee":{"id":"6f7a8b9c-0d1e-4f2a-8b3c-4d5e6f7a8b9c","name":"Jordan Riley","username":"jordan.riley@example.com","emailAddress":"jordan.riley@example.com"},"relation":"MEMBER"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/parties/{party_relation}":{"post":{"tags":["Parties"],"summary":"Add a party to a user's party","operationId":"createRelatedParty","parameters":[{"name":"party_relation","in":"path","required":true,"schema":{"type":"string","enum":["MEMBER","MANAGER"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyResponse"},"examples":{"created-member":{"summary":"A newly created party added as a member of the user's party","description":"created-member","value":{"id":"7a8b9c01-2d3e-4f5a-b6c7-8d9e0f1a2b3c","name":"Alex Riley","version":0,"members":[],"managers":[],"createdDate":"2026-01-15T10:05:00Z","updatedDate":"2026-01-15T10:05:00Z"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/journals/simple":{"post":{"tags":["Journals"],"summary":"Create a two-entry journal from an account and a category account","operationId":"createSimpleJournal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimpleJournalBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountingResponse"},"examples":{"createdSimpleJournal":{"summary":"A two-entry grocery purchase created from checking and the Groceries category","description":"createdSimpleJournal","value":{"entries":[{"id":"1a2b3c4d-5e6f-4708-9a0b-1c2d3e4f5a6b","date":"2026-08-03","type":"CREDIT","tags":[],"prime":true,"amount":86.42,"version":1,"pending":false,"journalId":"4a5b6c7d-8e9f-4012-a345-6b7c8d9e0f1a","accountId":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","createdDate":"2026-08-03T18:04:00Z","updatedDate":"2026-08-03T18:04:00Z","signedAmount":-86.42},{"id":"2b3c4d5e-6f70-4819-ab0c-2d3e4f5a6b7c","date":"2026-08-03","type":"DEBIT","tags":[],"prime":false,"amount":86.42,"version":1,"pending":false,"journalId":"4a5b6c7d-8e9f-4012-a345-6b7c8d9e0f1a","accountId":"7c3d4e56-8f90-4a12-b334-5c6d7e8f9a0b","createdDate":"2026-08-03T18:04:00Z","updatedDate":"2026-08-03T18:04:00Z","signedAmount":86.42}],"parties":[{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","name":"Riley Household","version":3,"createdDate":"2026-01-15T09:55:00Z","updatedDate":"2026-01-15T09:55:00Z"}],"journals":[{"id":"4a5b6c7d-8e9f-4012-a345-6b7c8d9e0f1a","name":"Whole Foods","date":"2026-08-03","memo":"Weekly grocery run","tags":[],"version":1,"pending":false,"createdDate":"2026-08-03T18:04:00Z","updatedDate":"2026-08-03T18:04:00Z"}],"accounts":[{"id":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","name":"Everyday Checking","tags":[],"version":7,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","unitType":"USD","assetType":"CHECKING","accountType":"ASSET","createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"},{"id":"7c3d4e56-8f90-4a12-b334-5c6d7e8f9a0b","name":"Groceries","tags":[],"version":2,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","unitType":"USD","accountType":"EXPENSE","expenseType":"GROCERIES","createdDate":"2026-01-15T10:10:00Z","updatedDate":"2026-01-15T10:10:00Z"}]}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/journals/compound":{"post":{"tags":["Journals"],"summary":"Create a multi-entry (compound) journal","operationId":"createCompoundJournal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompoundJournalBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountingResponse"},"examples":{"createdCompoundJournal":{"summary":"A compound journal whose entries balance to zero","description":"createdCompoundJournal","value":{"entries":[{"id":"1a2b3c4d-5e6f-4708-9a0b-1c2d3e4f5a6b","date":"2026-08-03","type":"CREDIT","tags":[],"prime":true,"amount":86.42,"version":1,"pending":false,"journalId":"4a5b6c7d-8e9f-4012-a345-6b7c8d9e0f1a","accountId":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","createdDate":"2026-08-03T18:04:00Z","updatedDate":"2026-08-03T18:04:00Z","signedAmount":-86.42},{"id":"2b3c4d5e-6f70-4819-ab0c-2d3e4f5a6b7c","date":"2026-08-03","type":"DEBIT","tags":[],"prime":false,"amount":86.42,"version":1,"pending":false,"journalId":"4a5b6c7d-8e9f-4012-a345-6b7c8d9e0f1a","accountId":"7c3d4e56-8f90-4a12-b334-5c6d7e8f9a0b","createdDate":"2026-08-03T18:04:00Z","updatedDate":"2026-08-03T18:04:00Z","signedAmount":86.42}],"parties":[{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","name":"Riley Household","version":3,"createdDate":"2026-01-15T09:55:00Z","updatedDate":"2026-01-15T09:55:00Z"}],"journals":[{"id":"4a5b6c7d-8e9f-4012-a345-6b7c8d9e0f1a","name":"Whole Foods","date":"2026-08-03","memo":"Weekly grocery run","tags":["groceries"],"version":1,"pending":false,"createdDate":"2026-08-03T18:04:00Z","updatedDate":"2026-08-03T18:04:00Z"}],"accounts":[{"id":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","name":"Everyday Checking","tags":[],"version":7,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","unitType":"USD","assetType":"CHECKING","accountType":"ASSET","createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"},{"id":"7c3d4e56-8f90-4a12-b334-5c6d7e8f9a0b","name":"Groceries","tags":[],"version":2,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","unitType":"USD","accountType":"EXPENSE","expenseType":"GROCERIES","createdDate":"2026-01-15T10:10:00Z","updatedDate":"2026-01-15T10:10:00Z"}]}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/file/image/{image_type}":{"post":{"tags":["Files"],"summary":"Upload an image as multipart part 'file'; image content types only","operationId":"uploadImage","parameters":[{"name":"image_type","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileUploadResponse"},"examples":{"uploaded-image":{"summary":"A stored image with its authenticated download URL and decoded dimensions","description":"uploaded-image","value":{"id":"0f1e2d3c-4b5a-4697-8877-6655a4b3c2d1","name":"avatar/x7k2p9qd.png","url":"https://api.bigbooks.app/v1/file/image/0f1e2d3c-4b5a-4697-8877-6655a4b3c2d1","width":256,"height":256,"contentType":"image/png"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/entity/attributes/account/{uuid}":{"post":{"tags":["Accounts"],"summary":"Upsert free-form key/value attributes on an account","operationId":"upsertAccountAttributes","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityAttributesBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntityAttributeResponse"}},"examples":{"upsertedAttributes":{"summary":"CSV column mappings upserted on an account","description":"upsertedAttributes","value":[{"id":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d","data":"0","name":"CSV_COLUMN_DATE"},{"id":"b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e","data":"3","name":"CSV_COLUMN_AMOUNT"}]}}}}}}}},"/v1/budgeting/autofill":{"post":{"tags":["Budgets"],"summary":"Autofill a party's budgets for a time period","operationId":"autofillBudgets","parameters":[{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutofillBudgetsBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"budgets-autofilled":{"summary":"Confirmation that budgets were autofilled for the period","description":"budgets-autofilled","value":{"message":"Budgets for the month starting 2026-08-01 were created successfully!"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/banking/file/transactions/enriched":{"post":{"tags":["File Import"],"summary":"Import enriched file transactions into a new or existing account","operationId":"importEnrichedFileTransactions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileTransactionsBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountResponse"},"examples":{"importedAccount":{"summary":"Account the enriched transactions were imported into","description":"importedAccount","value":{"id":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","name":"Everyday Checking","tags":[".account_user_created"],"version":7,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","unitType":"USD","assetType":"CHECKING","accountType":"ASSET","createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"}}}}}}}}},"/v1/banking/file/transactions/enrich":{"post":{"tags":["File Import"],"summary":"Enrich file transactions and return them without persisting","operationId":"enrichFileTransactions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichTransactionsBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichTransactionsResponse"},"examples":{"enrichedPreview":{"summary":"Merchant and category names resolved for review; nothing is persisted","description":"enrichedPreview","value":{"transactions":[{"id":"c1a2b3d4e5f6a7b8","merchantName":"Grocery Outlet","categoryName":"Groceries"},{"id":"d2b3c4e5f6a7b8c9","merchantName":"Platypus Coffee","categoryName":"Coffee"}]}}}}}}}}},"/v1/banking/file/pdf/transactions":{"post":{"tags":["File Import"],"summary":"Extract transactions from an uploaded PDF statement using AI, without saving","operationId":"getPdfTransactions","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"},"params":{"$ref":"#/components/schemas/PdfBankingFileParams"},"openai_props":{"$ref":"#/components/schemas/OpenAI"},"minimax_props":{"$ref":"#/components/schemas/MiniMax"},"deepseek_props":{"$ref":"#/components/schemas/DeepSeek"},"anthropic_props":{"$ref":"#/components/schemas/Anthropic"},"google_genai_props":{"$ref":"#/components/schemas/GenAI"}},"required":["file","params"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileTransactionsResponse"},"examples":{"extractedTransactions":{"summary":"Transactions the model extracted from the statement; nothing is saved","description":"extractedTransactions","value":{"transactions":[{"id":"e3c4d5f6a7b8c9d0","amount":4.85,"checked":false,"matched":false,"postDate":"2026-07-28","merchantName":"PLATYPUS COFFEE 0042","transactionDate":"2026-07-27"}]}}}}}}}}},"/v1/banking/file/csv/transactions":{"post":{"tags":["File Import"],"summary":"Parse an uploaded CSV into transactions and flag matches, without saving","operationId":"parseCsvTransactions","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"},"params":{"$ref":"#/components/schemas/CsvBankingFileParams"}},"required":["file","params"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileTransactionsResponse"},"examples":{"parsedTransactions":{"summary":"Parsed rows; the matched row already exists as a pending entry, nothing is saved","description":"parsedTransactions","value":{"transactions":[{"id":"c1a2b3d4e5f6a7b8","amount":-62.1,"checked":true,"matched":false,"postDate":"2026-07-27","description":"GROCERY OUTLET 118 PORTLAND OR","merchantName":"Grocery Outlet"},{"id":"d2b3c4e5f6a7b8c9","amount":-4.85,"checked":false,"matched":true,"postDate":"2026-07-28","description":"PLATYPUS COFFEE 0042 PORTLAND OR","categoryName":"Coffee","merchantName":"Platypus Coffee"}]}}}}}}}}},"/v1/banking/file/csv/columns":{"post":{"tags":["File Import"],"summary":"Sample CSV columns and return any saved column mappings for an account","operationId":"getCsvColumns","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"},"params":{"$ref":"#/components/schemas/CsvBankingFileParams"}},"required":["file","params"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CsvColumnsResponse"},"examples":{"sampledColumns":{"summary":"Column samplings with saved mappings for date, description, and amount","description":"sampledColumns","value":{"samplings":[{"index":0,"sampling":"07/28/2026 | 07/27/2026 | 07/25/2026"},{"index":1,"sampling":"PLATYPUS COFFEE 0042 | GROCERY OUTLET 118 | ACH DEPOSIT PAYROLL"},{"index":2,"sampling":"-4.85 | -62.10 | 2500.00"}],"cityIndex":-1,"dateIndex":0,"regionIndex":-1,"amountIndex":2,"countryIndex":-1,"depositIndex":-1,"withdrawIndex":-1,"postDateIndex":-1,"postalCodeIndex":-1,"descriptionIndex":1,"categoryNameIndex":-1,"merchantNameIndex":-1,"referenceNumberIndex":-1,"transactionDateIndex":-1}}}}}}}}},"/v1/ai/response":{"post":{"tags":["AI"],"summary":"Generate a stateless AI response to a prompt, without saving a conversation","operationId":"respond","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AIBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"statelessResponse":{"summary":"Stateless answer to a grocery-spend prompt","description":"statelessResponse","value":{"message":"The Riley Household spent $842.17 on groceries last month, July 2026."}}}}}}}}},"/v1/ai/conversations/{uuid}/stop":{"post":{"tags":["AI Conversations"],"summary":"Stop the conversation's in-flight turn; any partial answer is kept and turnState becomes STOPPED","operationId":"stopConversationTurn","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK — the conversation with its post-stop turnState; idempotent when no turn is in flight","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConversation"},"examples":{"stoppedConversation":{"summary":"A conversation whose in-flight turn was stopped early","description":"stoppedConversation","value":{"id":"b7e3d2a1-9c48-4f5e-a6b7-0d1c2e3f4a5b","name":"How much did we spend on groceries last month?","version":3,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","turnState":"STOPPED","createdDate":"2026-08-05T14:02:10Z","updatedDate":"2026-08-05T14:02:15Z"}}}}}}}}},"/v1/ai/conversations/{uuid}/attachments":{"get":{"tags":["AI Conversations"],"summary":"List the files attached to a conversation, oldest first","operationId":"getAttachments","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAttachments"},"examples":{"attachmentList":{"summary":"One statement the advisor has already read","description":"attachmentList","value":{"count":1,"attachments":[{"id":"5c4b3a29-1e8d-4f70-9a6b-2d3e4f5a6b7c","documentId":"9f8e7d6c-5b4a-4392-8180-7f6e5d4c3b2a","name":"statement-july.pdf","version":0,"pages":4,"chunks":12,"indexed":true,"sizeBytes":184320,"contentType":"application/pdf","truncated":false,"presented":true,"createdDate":"2026-08-25T09:14:02Z","updatedDate":"2026-08-25T09:14:02Z"}]}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}},"post":{"tags":["AI Conversations"],"summary":"Attach a file to a conversation; PDF or text, the advisor reads it on the next turn","operationId":"uploadAttachment","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document_type","in":"query","required":false,"schema":{"type":"string","enum":["BILL","RECEIPT","INVOICE","STATEMENT","ATTACHMENT"]}},{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAttachment"},"examples":{"attachedStatement":{"summary":"A bank statement attached to a conversation and indexed for later retrieval","description":"attachedStatement","value":{"id":"5c4b3a29-1e8d-4f70-9a6b-2d3e4f5a6b7c","documentId":"9f8e7d6c-5b4a-4392-8180-7f6e5d4c3b2a","name":"statement-july.pdf","version":0,"pages":4,"chunks":12,"indexed":true,"sizeBytes":184320,"contentType":"application/pdf","truncated":false,"presented":false,"createdDate":"2026-08-25T09:14:02Z","updatedDate":"2026-08-25T09:14:02Z"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"413":{"description":"Payload Too Large","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/ai/conversations/start/stream":{"post":{"tags":["AI Conversations"],"summary":"Start a conversation; SSE events: conversation, thinking, tokens, done","operationId":"streamConversation","parameters":[{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartConversationBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/event-stream":{"examples":{"streamedConversationStart":{"summary":"SSE stream: new conversation metadata, token chunks, then done","description":"streamedConversationStart","value":"\n                        event: conversation\n                        data: {\"id\":\"b7e3d2a1-9c48-4f5e-a6b7-0d1c2e3f4a5b\",\"version\":1}\n\n                        data: The Riley Household spent\n\n                        data:  $842.17 on groceries\n\n                        data:  in July 2026.\n\n                        event: done\n                        data: {\"id\":\"b7e3d2a1-9c48-4f5e-a6b7-0d1c2e3f4a5b\"}\n                        "}}}}}}}},"/v1/ai/conversations/start/attachment/stream":{"post":{"tags":["AI Conversations"],"summary":"Start a conversation with an attached file; SSE events: conversation, thinking, tokens, done","operationId":"streamConversationWithAttachment","parameters":[{"name":"document_type","in":"query","required":false,"schema":{"type":"string","enum":["BILL","RECEIPT","INVOICE","STATEMENT","ATTACHMENT"]}},{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"params":{"$ref":"#/components/schemas/StartConversationBody"},"file":{"type":"string","format":"binary"}},"required":["file","params"]}}}},"responses":{"200":{"description":"OK","content":{"text/event-stream":{"examples":{"streamedConversationStartWithAttachment":{"summary":"SSE stream over a first turn that reads the attached file; a rejected file arrives as an error event","description":"streamedConversationStartWithAttachment","value":"\n                        event: conversation\n                        data: {\"id\":\"b7e3d2a1-9c48-4f5e-a6b7-0d1c2e3f4a5b\",\"version\":1}\n\n                        data: The closing balance on\n\n                        data:  statement-july.pdf is $980.12.\n\n                        event: done\n                        data: {\"id\":\"b7e3d2a1-9c48-4f5e-a6b7-0d1c2e3f4a5b\"}\n                        "}}}}}}}},"/v1/ai/conversations/start/attachment":{"post":{"tags":["AI Conversations"],"summary":"Start a conversation from a first user message and an attached file; the first reply can already read it","operationId":"startConversationWithAttachment","parameters":[{"name":"document_type","in":"query","required":false,"schema":{"type":"string","enum":["BILL","RECEIPT","INVOICE","STATEMENT","ATTACHMENT"]}},{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"},"params":{"$ref":"#/components/schemas/StartConversationBody"}},"required":["file","params"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConversation"},"examples":{"startedConversationWithAttachment":{"summary":"New conversation whose first reply already reads the attached statement","description":"startedConversationWithAttachment","value":{"id":"b7e3d2a1-9c48-4f5e-a6b7-0d1c2e3f4a5b","name":"What's the closing balance on this statement?","version":1,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","messages":[{"id":"c1a2b3c4-d5e6-4f70-8192-a3b4c5d6e7f8","text":"What's the closing balance on this statement?","role":"USER","version":0,"sequence":0,"dateTime":"2026-08-25T09:14:02Z","createdDate":"2026-08-25T09:14:02Z","updatedDate":"2026-08-25T09:14:02Z"},{"id":"d2b3c4d5-e6f7-4081-92a3-b4c5d6e7f809","text":"The closing balance on statement-july.pdf is $980.12.","role":"ASSISTANT","version":0,"sequence":1,"dateTime":"2026-08-25T09:14:09Z","createdDate":"2026-08-25T09:14:09Z","updatedDate":"2026-08-25T09:14:09Z"}],"createdDate":"2026-08-25T09:14:02Z","updatedDate":"2026-08-25T09:14:09Z"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"413":{"description":"Payload Too Large","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/ai/conversations/start":{"post":{"tags":["AI Conversations"],"summary":"Start a conversation from a first user message and return the reply","operationId":"startConversation","parameters":[{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartConversationBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConversation"},"examples":{"startedConversation":{"summary":"New conversation with the first user message and assistant reply","description":"startedConversation","value":{"id":"b7e3d2a1-9c48-4f5e-a6b7-0d1c2e3f4a5b","name":"How much did we spend on groceries last month?","version":1,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","messages":[{"id":"c1a2b3c4-d5e6-4f70-8192-a3b4c5d6e7f8","text":"How much did we spend on groceries last month?","role":"USER","version":0,"sequence":0,"dateTime":"2026-08-05T14:02:10Z","createdDate":"2026-08-05T14:02:10Z","updatedDate":"2026-08-05T14:02:10Z"},{"id":"d2b3c4d5-e6f7-4081-92a3-b4c5d6e7f809","text":"The Riley Household spent $842.17 on groceries in July 2026, across 14 transactions.","role":"ASSISTANT","version":0,"sequence":1,"dateTime":"2026-08-05T14:02:14Z","createdDate":"2026-08-05T14:02:14Z","updatedDate":"2026-08-05T14:02:14Z"}],"createdDate":"2026-08-05T14:02:10Z","updatedDate":"2026-08-05T14:02:14Z"}}}}}}}}},"/v1/ai/agent/execute":{"post":{"tags":["AI Agent"],"summary":"Execute an agentic workflow for a task description and return its response","operationId":"executeAgent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"workflowResponse":{"summary":"Agentic workflow answer to a grocery-spend task","description":"workflowResponse","value":{"message":"I reviewed the Riley Household's transactions for July 2026: grocery spending totaled $842.17 across 14 purchases, with the largest single trip at $121.38."}}}}}}}}},"/v1/accounts":{"get":{"tags":["Accounts"],"summary":"List a party's accounts, singleton or composite across member parties","operationId":"getAccounts","parameters":[{"name":"include","in":"query","description":"Optional expansions: balance, parent_accounts, children_accounts","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"unit_type","in":"query","required":false,"schema":{"$ref":"#/components/schemas/UnitType","default":"USD"}},{"name":"page_size","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page_number","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"perspective","in":"query","required":false,"schema":{"type":"string","default":"SINGLETON","enum":["SINGLETON","COMPOSITE"]}},{"name":"account_types","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["ASSET","EQUITY","EXPENSE","REVENUE","LIABILITY"]},"uniqueItems":true}},{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountingResponse"},"examples":{"assetAndLiability":{"summary":"Asset and liability accounts with include=balance","description":"assetAndLiability","value":{"paging":{"pageSize":100,"pageIndex":0,"totalPages":1,"totalElements":2},"accounts":[{"id":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","name":"Everyday Checking","tags":[],"version":7,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","balance":{"current":8250.75,"available":8100.75},"unitType":"USD","assetType":"CHECKING","accountType":"ASSET","createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"},{"id":"9e2a3b45-6c78-4d90-a112-3f4a5b6c7d8e","name":"Home Mortgage","tags":[],"version":4,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","balance":{"current":-144300.0,"available":-144300.0},"unitType":"USD","accountType":"LIABILITY","liabilityType":"MORTGAGE","createdDate":"2026-01-15T10:05:00Z","updatedDate":"2026-08-01T12:30:00Z"}]}}}}}}}},"post":{"tags":["Accounts"],"summary":"Create an account owned by a party","operationId":"createAccount","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/AssetAccountBody"},{"$ref":"#/components/schemas/EquityAccountBody"},{"$ref":"#/components/schemas/ExpenseAccountBody"},{"$ref":"#/components/schemas/LiabilityAccountBody"},{"$ref":"#/components/schemas/RevenueAccountBody"}]}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountResponse"},"examples":{"createdGroceryCategory":{"summary":"A newly created grocery expense category account","description":"createdGroceryCategory","value":{"id":"7c3d4e56-8f90-4a12-b334-5c6d7e8f9a0b","name":"Groceries","tags":[],"version":1,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4b5c6d","unitType":"USD","accountType":"EXPENSE","expenseType":"GROCERIES","createdDate":"2026-01-15T10:10:00Z","updatedDate":"2026-01-15T10:10:00Z"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/tags":{"get":{"tags":["Tags"],"summary":"List tags, optionally filtered by name prefix","operationId":"getTags","parameters":[{"name":"page_size","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page_number","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"prefix","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagsResponse"},"examples":{"tagList":{"summary":"First page of the Riley Household's tag vocabulary","description":"tagList","value":{"paging":{"pageSize":20,"pageIndex":0,"totalPages":1,"totalElements":3},"tags":[{"id":"e5f6a7b8-c9d0-4e1f-a2b3-c4d5e6f7a8b9","name":"groceries"},{"id":"f6a7b8c9-d0e1-4f2a-b3c4-d5e6f7a8b9c0","name":"grocery-delivery"},{"id":"a7b8c9d0-e1f2-4a3b-c4d5-e6f7a8b9c0d1","name":"utilities"}]}}}}}}}}},"/v1/tag/{name}":{"get":{"tags":["Tags"],"summary":"Find tags by name prefix; deprecated, use GET /v1/tags?prefix= instead","operationId":"findTags","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagsResponse"},"examples":{"tagsByPrefix":{"summary":"Tags matching the name prefix 'gro'","description":"tagsByPrefix","value":{"paging":{"pageSize":20,"pageIndex":0,"totalPages":1,"totalElements":2},"tags":[{"id":"e5f6a7b8-c9d0-4e1f-a2b3-c4d5e6f7a8b9","name":"groceries"},{"id":"f6a7b8c9-d0e1-4f2a-b3c4-d5e6f7a8b9c0","name":"grocery-delivery"}]}}}}}}},"deprecated":true}},"/v1/plaid/webhooks/check":{"get":{"tags":["Plaid"],"summary":"List Plaid webhook errors for the client's parties since a date","operationId":"checkWebhooks","parameters":[{"name":"page_size","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page_number","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"after_date","in":"query","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaidWebhookErrorsResponse"},"examples":{"webhookErrors":{"summary":"One item needing a login repair","description":"webhookErrors","value":{"paging":{"pageSize":25,"pageIndex":0,"totalPages":1,"totalElements":1},"errors":[{"party":{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","name":"Riley Household","version":5,"managers":[],"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"},"plaidItem":{"id":"4a7b2c91-8d3e-4f56-a012-b3c4d5e6f7a8"},"displayMessage":"The login details for First Platypus Bank have changed. Please reconnect this account.","plaidErrorCode":"ITEM_LOGIN_REQUIRED","plaidErrorType":"ITEM_ERROR","plaidInstitution":{"id":"3c8e5f12-9a46-4b57-8c01-d2e3f4a5b6c7","name":"First Platypus Bank","plaidId":"ins_sandbox_example","primaryColor":"#0a6e5c"}}]}}}}}}}}},"/v1/plaid/items":{"get":{"tags":["Plaid"],"summary":"List a party's Plaid items","operationId":"getPartyItems","parameters":[{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPlaidItems"},"examples":{"partyItems":{"summary":"Riley Household's single First Platypus Bank item","description":"partyItems","value":{"items":[{"id":"4a7b2c91-8d3e-4f56-a012-b3c4d5e6f7a8","tags":[],"version":3,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","plaidId":"item-sandbox-example-id","accounts":[{"id":"6b9d4e21-7c35-4a86-b190-2c3d4e5f6a7b","name":"Everyday Checking","mask":"0000","type":"depository","version":0,"plaidId":"account-sandbox-example-id","subtype":"checking","account":{"id":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","name":"Everyday Checking","tags":[],"version":7,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","unitType":"USD","assetType":"CHECKING","accountType":"ASSET","createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"},"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"}],"itemStatus":"HEALTHY","institution":{"id":"3c8e5f12-9a46-4b57-8c01-d2e3f4a5b6c7","name":"First Platypus Bank","plaidId":"ins_sandbox_example","primaryColor":"#0a6e5c"},"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"}]}}}}}}}},"delete":{"tags":["Plaid"],"summary":"Archive all of a party's Plaid items (soft delete)","operationId":"deletePartyItems","parameters":[{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}},{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"itemsArchived":{"summary":"All of the party's items were archived","description":"itemsArchived","value":{"message":"Party items were deleted successfully"}}}}}},"409":{"description":"Conflict — stale If-Match version; re-GET the resource and retry","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/plaid/items/{uuid}/liabilities":{"get":{"tags":["Plaid"],"summary":"List a Plaid item's liability accounts with balances","operationId":"getItemLiabilities","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Plaid-Secret","in":"header","description":"Plaid client secret for bring-your-own-key connections. This is a credential — load it from secure configuration; never hardcode it in source or examples.","required":true,"schema":{"type":"string"}},{"name":"X-Plaid-Client-ID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountingResponse"},"examples":{"itemLiabilities":{"summary":"The item's credit card liability with balances","description":"itemLiabilities","value":{"parties":[{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","name":"Riley Household","version":5,"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"}],"accounts":[{"id":"7c2e8a45-1b93-4d67-a802-5f6a7b8c9d0e","name":"Platypus Rewards Card","tags":[],"version":4,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","balance":{"current":-1425.5,"available":-1425.5},"unitType":"USD","accountType":"LIABILITY","liabilityType":"CREDIT_CARD","createdDate":"2026-01-15T10:05:00Z","updatedDate":"2026-08-01T12:30:00Z"}]}}}}}}}}},"/v1/plaid/items/{uuid}/accounts":{"get":{"tags":["Plaid"],"summary":"List a Plaid item's accounts with balances","operationId":"getItemAccounts","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Plaid-Secret","in":"header","description":"Plaid client secret for bring-your-own-key connections. This is a credential — load it from secure configuration; never hardcode it in source or examples.","required":true,"schema":{"type":"string"}},{"name":"X-Plaid-Client-ID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountingResponse"},"examples":{"itemAccounts":{"summary":"The item's checking account with balances","description":"itemAccounts","value":{"parties":[{"id":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","name":"Riley Household","version":5,"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"}],"accounts":[{"id":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","name":"Everyday Checking","tags":[],"version":7,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","balance":{"current":8250.75,"available":8100.75},"unitType":"USD","assetType":"CHECKING","accountType":"ASSET","createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"}]}}}}}}}}},"/v1/plaid/items/{uuid}":{"get":{"tags":["Plaid"],"summary":"Get a Plaid item with its accounts and balances","operationId":"getItem","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPlaidItem"},"examples":{"healthyItem":{"summary":"First Platypus Bank item with its checking account","description":"healthyItem","value":{"id":"4a7b2c91-8d3e-4f56-a012-b3c4d5e6f7a8","tags":[],"version":3,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","plaidId":"item-sandbox-example-id","accounts":[{"id":"6b9d4e21-7c35-4a86-b190-2c3d4e5f6a7b","name":"Everyday Checking","mask":"0000","type":"depository","version":0,"plaidId":"account-sandbox-example-id","subtype":"checking","account":{"id":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","name":"Everyday Checking","tags":[],"version":7,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","unitType":"USD","assetType":"CHECKING","accountType":"ASSET","createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"},"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"}],"itemStatus":"HEALTHY","institution":{"id":"3c8e5f12-9a46-4b57-8c01-d2e3f4a5b6c7","name":"First Platypus Bank","plaidId":"ins_sandbox_example","primaryColor":"#0a6e5c"},"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"}}}}}}}},"delete":{"tags":["Plaid"],"summary":"Mark a Plaid item for async removal","operationId":"deleteItem","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"If-Match","in":"header","description":"Entity version from the resource's ETag header — quoted (\"3\"), weak (W/\"3\"), or bare (3). Stale version → 409; re-GET and retry.","required":true,"schema":{"type":"string","example":"\"3\""}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"examples":{"removalStarted":{"summary":"Async removal accepted","description":"removalStarted","value":{"message":"First Platypus Bank item is being deleted now."}}}}}},"409":{"description":"Conflict — stale If-Match version; re-GET the resource and retry","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/plaid/items/deleted":{"get":{"tags":["Plaid"],"summary":"List deleted Plaid items for a party or its member parties","operationId":"getDeletedItemsByParty","parameters":[{"name":"page_size","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page_number","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"after_date","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"before_date","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"perspective","in":"query","required":false,"schema":{"type":"string","default":"SINGLETON","enum":["SINGLETON","COMPOSITE"]}},{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDeletionsResponse"},"examples":{"deletedItems":{"summary":"One deleted item; page/list and paging/deletions carry the same data","description":"deletedItems","value":{"page":{"pageSize":25,"pageIndex":0,"totalPages":1,"totalElements":1},"list":[{"id":"9f8e7d6c-5b4a-4392-8170-6e5d4c3b2a19","date":"2026-07-30T16:45:00Z"}],"paging":{"pageSize":25,"pageIndex":0,"totalPages":1,"totalElements":1},"deletions":[{"id":"9f8e7d6c-5b4a-4392-8170-6e5d4c3b2a19","date":"2026-07-30T16:45:00Z"}]}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/plaid/accounts":{"get":{"tags":["Plaid"],"summary":"List a party's Plaid accounts with balances","operationId":"getPlaidAccounts","parameters":[{"name":"X-Acting-Party-ID","in":"header","description":"UUID of the tenant party being acted for; must be inside the caller's party hierarchy. Item-level endpoints derive tenancy from the addressed resource and do not take this header.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPlaidAccounts"},"examples":{"partyAccounts":{"summary":"Riley Household's linked checking account","description":"partyAccounts","value":{"accounts":[{"id":"6b9d4e21-7c35-4a86-b190-2c3d4e5f6a7b","name":"Everyday Checking","mask":"0000","type":"depository","version":0,"plaidId":"account-sandbox-example-id","subtype":"checking","account":{"id":"8d1f2c34-5a67-4b89-9c01-2d3e4f5a6b7c","name":"Everyday Checking","tags":[],"version":7,"partyId":"2f6c1a89-3b45-4c67-8d90-1e2f3a4f5c6d","unitType":"USD","assetType":"CHECKING","accountType":"ASSET","createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"},"createdDate":"2026-01-15T10:00:00Z","updatedDate":"2026-08-01T12:30:00Z"}]}}}}}}}}},"/v1/parties/{uuid}/network":{"get":{"tags":["Parties"],"summary":"List a party's combined members and managers","operationId":"getNetwork","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartiesResponse"},"examples":{"network":{"summary":"The distinct union of a party's members and managers","description":"network","value":{"parties":[{"id":"7a8b9c01-2d3e-4f5a-b6c7-8d9e0f1a2b3c","name":"Alex Riley","version":5,"createdDate":"2026-01-15T10:05:00Z","updatedDate":"2026-08-01T12:30:00Z"}]}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"}}}}}}},"/v1/parties/{uuid}/members/deleted":{"get":{"tags":["Parties"],"summary":"List a party's soft-deleted member parties","operationId":"getDeletedMembersByParty","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page_size","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page_number","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"after_date","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"before_date","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDeletionsResponse"},"examples":{"deleted-members":{"summary":"One page of member deletions; paging/deletions mirror page/list under their canonical names","description":"deleted-members","
[...]
